<form action="">
    <div class="form-group">
        <label>Vehicle registration number:</label>
        <input type="text" class="form-control" placeholder="" id="registeration-num">
    </div>
    <div class="form-group">
        <label>
            Vehicle owner (person or company) code:</label>
        <input type="text" class="form-control" placeholder="" id="owner-code">
    </div>
    <div class="form-group text-sm-right text-xs-left">
        <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Driven by the owner
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Another person was driving
            </label>
        </div>
    </div>
    <div class="form-group form-check text-sm-right text-xs-left">
        <label class="form-check-label">
        <input class="form-check-input is-assistance" type="checkbox"> Roadside assistance is needed
      </label>
    </div>
    <!-- <div class="form-group text-right">
        <button type="button" class="btn btn-success first-continue">Continue</button>
    </div> -->
</form>